body {
	font-family: 'Raleway', sans-serif;
	background-color: #E6F0F0;
	background-size: 100%;
	margin: 3px;

}

.main {
	background-color: #FF6666;
   -webkit-flex: 2 0 0; 
   flex: 2 0 0; 
   }
 

.r{
	width: 100px;
	height: 100px;
	box-shadow: 0 0 100px #E6F0F0;
	background-color: #E6F0F0;
	margin: 10% 10% 0% 10%;
	font-size: 96px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #FF6666;
  -moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
  unicode-bidi:bidi-override;
  direction:rtl;
    -webkit-flex: 1;
          flex: 1;
}
.k{
	width: 100px;
	height: 100px;
	box-shadow: 0 0 100px #E6F0F0;
	background-color: #E6F0F0;
	margin: 0% 10% 10% 10%;
	font-size: 96px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #FF6666;
  -webkit-flex: 1;
          flex: 1;
}


.container {
  height: 300px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
	background-color: #FF6666;
}
