body {
	font-family: 'Raleway', sans-serif;
	background: url(https://github.com/kilbergr/hi-hi-hi/blob/master/background.jpg?raw=true) no-repeat fixed center;
	background-size: 100%;
	margin: 3px;
}
.container {
	display: -webkit-flex;
	display: flex;
}

.access {
	background: url(https://github.com/kilbergr/hi-hi-hi/blob/master/rekbulb.jpg?raw=true) no-repeat;
	opacity: .5;
	height: 200px;
	z-index: 2;
/*	height: 200px;
	width: 200px;
	border-radius: 200px;
	border: 1px solid;*/
}
.access:hover {
	opacity: .4;
}